{% block sidebar %}


    {% set route = app.request.get('_route') %}
    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <a href="{{ path('index') }}">
                <img src="{{ asset('images/Logo.svg') }}" class="img" alt="">
            </a>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="{{ route == 'index' ? 'active' }}">
                <a href="{{ path('index') }}">Pagrindinis</a>
            </li>
            <li class="{{ route starts with 'question' ? 'active' }}">
                <a href="{{ path('questions') }}">Klausimai</a>
            </li>
            <li class="{{ route == 'schedule' ? 'active' }}">
                <a href="{{ path('schedule') }}">Tvarkaraštis</a>
            </li>
            {% if is_granted('ROLE_LECTOR') %}
            <li class="{{ route starts with 'admin' ? 'active' }}">
                <!-- Link with dropdown items -->
                <a href="#AdminSubMenu" data-toggle="collapse" aria-expanded="{{ route starts with 'admin' ? 'true':'false' }}">Admin</a>
                <ul class="list-unstyled collapse {{ route starts with 'admin' ? 'show' }}" id="AdminSubMenu">
                    <li class="{{ route == 'admin_schedule' ? 'active' }}">
                        <a href="{{ path('admin_schedule') }}">Tvarkaraštis</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}