{% block sidebar %}


    {% set route = app.request.get('_route') %}
    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <a href="{{ path('index') }}">
                <img src="{{ asset('images/Logo.svg') }}" class="img" alt="">
            </a>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="{{ route == 'index' ? 'active' }}">
                <a href="{{ path('index') }}">Pagrindinis</a>
            </li>
            <li class="{{ route starts with 'question' ? 'active' }}">
                <a href="{{ path('questions') }}">Klausimai</a>
            </li>
            <li>
                <!-- Link with dropdown items -->
                <a href="#PagesSubMenu" data-toggle="collapse" aria-expanded="false">Paskaitos</a>
                <ul class="collapse list-unstyled" id="PagesSubMenu">
                    <li>
                        <a href="#">Front-End</a>
                    </li>
                    <li>
                        <a href="#">PHP</a>
                    </li>
                </ul>
        </ul>
    </nav>
{% endblock %}